@model Squabby.Models.Board

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Title = "Squabby: Board " + Model.Name;
}

<script src="~/js/Board/Overview.js"></script>
<script>
let start = @Squabby.Controllers.Boards.BoardController.threadsChuckCount;
LoadThreads('@Model.Name', 0);
            
if(window.addEventListener){
    window.addEventListener('scroll', function(ev) {
        const st = Math.max(document.documentElement.scrollTop, document.body.scrollTop);
        if((st+document.documentElement.clientHeight)>=document.documentElement.scrollHeight-100){
            LoadThreads('@Model.Name', start);
            start += @Squabby.Controllers.Boards.BoardController.threadsChuckCount;
        }
    });
}
</script>

<div id="banner">
    <div id="banneroverlay"></div>
    <img src="~/images/background.jpg">
    <div id="info">
        <h1 id="boardname">@Model.Name</h1>
        <p>@Model.Description</p>
    </div>
</div>
<table id="page">
    <tbody>
    <tr>
        <td id="threadcontainer">
            <!-- List with all threads loaded by javascript -->
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
