@using Squabby.Models
@model Squabby.Models.Board

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Title = "Squabby: Board " + Model.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="banner">
    <div id="banneroverlay"></div>
    <img src="~/images/background.jpg">
    <div id="info">
        <h1 id="boardname">@Model.Name</h1>
        <p>@Model.Description</p>
    </div>
</div>
<table id="page">
    <tbody>
    <tr>
        <td>
            @foreach (var thread in Model.Threads)
            {
                <a href="/b/@thread.Board.Name/thread?id=@thread.Id">
                    <div class="box mb1r clickable">
                        <div class="threaddata">
                            <p class="threadinfo">
                                <a href="/b/@thread.Board.Name">b/@thread.Board.Name</a> by
                                @if (string.IsNullOrEmpty(thread.Owner.Username))
                                {
                                    <a href="/u/@thread.Owner.Username">u/@thread.Owner.Username</a>
                                }
                                else
                                {
                                    <text>Anonymous User</text>
                                }
                            </p>
                            <p class="threaddate">@thread.CreationDate</p>
                        </div>
                        <h1 class="threadtitle">@thread.Title</h1>
                        <p class="threadcontent">@thread.Content</p>
                        <div onclick="postData('/b/@thread.Board.Name/@thread.Id/like');" class="dislike dib fr"></div>
                        <div onclick="postData('/b/@thread.Board.Name/@thread.Id/dislike')" class="like dib fr"></div>
                    </div>
                </a>
            }
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
