@model Squabby.Models.Board

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Title = "Squabby: Board " + Model.Name;
}

<script src="~/js/Board/Overview.js"></script>
<script>
let start = @Squabby.Controllers.Boards.BoardApi.ThreadsChuckSize;
LoadThreads(@Model.Id, 0);
            
if(window.addEventListener){
    window.addEventListener('scroll', function() {
        const st = Math.max(document.documentElement.scrollTop, document.body.scrollTop);
        if((st+document.documentElement.clientHeight)>=document.documentElement.scrollHeight){
            LoadThreads(@Model.Id, start);
            start += @Squabby.Controllers.Boards.BoardApi.ThreadsChuckSize;
        }
    });
}
</script>

<div id="banner">
    <div id="banneroverlay"></div>
    <img src="~/images/background.jpg">
    <div id="info">
        <h1 id="boardname">@Model.Name</h1>
        <p>@Model.Description</p>
    </div>
</div>
<table id="page">
    <tbody>
    <tr>
        <td>

        </td>
        <td id="threadcontainer">
            <!-- List with all threads loaded by javascript -->
        </td>
        <td>
            <div class="box">
                <h3 class="mt0">Rules</h3>
                <p>This is a test. Lorem ipsum.</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
